<!DOCTYPE html>
<meta charset="UTF-8">
<meta name"viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="CascadeStyleSheet.css">
<html >
    <body bgcolor=lightgrey>
    <head>
        <title>
            Joseplh About Page
        </title>
    </head>
    <div class="sidenav">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contacts.html">Contact</a>
        <a href="projects.html">Projects</a>
        <a href="images.html">Images</a>
        <a href="videos.html">Videos</a>
        <a href="dropBox.html">Drop Box</a>
    </div>
    <div class="body">
        <h1>About</br></br>
            Joseph Maxwell</h1>
        <p>
            Born: 1994</br>
            Age: 24</br>
            Mother: Belinda</br>
            Father: Todd</br>
            Education: High School Degree</br>
            Student: University of Nebraska in Omaha</br>
            Home: Omaha, Nebraska</br>
            Pets: Aero(cat), Apollo(dog)</br>
            Favorite Hobby: Video Games - Strategy/Management</br>
            Online Pseudonym: Joseplh(hence name of site)</br>
            Prefered Job: software development</br>
            Prior Jobs: Dunkin Donuts, Five Guys, and Transwood Trucking</br>
            Favorite Color: <font color=blue><b>blue</b></font>
        </p>
        <img src=images/JosephFace.jpg alt="Joseph M.">
    </div>
</html>