<!DOCTYPE html>
<meta charset="UTF-8">
<meta name"viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="CascadeStyleSheet.css">
<html>
    <body bgcolor=lightgrey>
    <head>
        <title>
            Joseplh Home Page
        </title>
    </head>
    <div class="sidenav">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contacts.html">Contact</a>
        <a href="projects.html">Projects</a>
        <a href="images.html">Images</a>
        <a href="videos.html">Videos</a>
        <a href="dropBox.html">Drop Box</a>
    </div>
    <div class="body">
        <h1>Home</h1>
        <p>This website is created by Joseph M. to test and demonstrate </br>
            his ability to produce and operate a private windows server.</br>
            This website is also to behave as a private dropbox for Joseph</br>
            to share school project files between computers and maintain consistency.</br>
            This has a second goal of demonstrating his ability to protect</br>
            important files and documents from unauthorized individuals.</br>
            </br>
            NOTE: The files within this site are considered unsecure. and only</br>
            sharable files to the general public is allowed here.</br>    
        </p>
    </div>
</html>